body {
    background-image: url(fon.jpeg);
    margin: 0
}
.title {
    background-image: url(box-top.jpg);
    height: 100px
}
.h {
    font-size: 60px;
    text-align: center;
    color: darkslategrey;
    margin: 0
}
.wot {
    height: 600px;
    background-image: url(box-body-top.gif);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-size: 500px
}
.img {
    height: 200px;
    width: 330px;
    margin: 0
}
.p {
    margin: 0;
    font-size: 20px;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px
}
.wot2 {
    height: 400px;
    width: 1200px;
    background-image: url(fon2.jpeg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto
}
.h2 {
    font-size: 40px;
    color: firebrick;
    margin-left: 20px;
    margin-top: 20px
}
.menu {
    background-image:url(box-body-top.gif);
    width: 200px;
    height: 400px;
    display: block;
    padding-top: 30px;
    box-sizing: border-box
    
}
.ip {
    display: flex
}
a {
    font-size: 29px;
    color:firebrick;
    text-decoration: none
}
.blood {
    color: red;
}